{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    <!--  News list content  -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        {% include 'inc/_breadcrumbs.html' %}
                        <h2>News in Category "{{ title }}"</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                <div class="span12">

                    {% for item in news %}
                    <article>
                        <div class="row">

                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                    </div>
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                                    {% else %}
                                        <img src="{% static 'media/no_post_image.jpg' %}" alt="{{ item.title }}"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="span4">
                                <div class="meta-post">
                                    <ul>
                                        <li><i class="icon-file"></i></li>
                                        <li>By <a href="#" class="author">{{ item.author }}</a></li>
                                        <li>On <a href="#" class="date">{{ item.created_at|date:'j E Y' }}</a></li>
                                        {% if item.tags %}
                                        <li>Tags: {% for tag in item.tags.all %}<a href="#">{{ tag.title }}</a></li>
                                        {% endfor %}
                                        <li>Type: <a href="">{% if item.type == AR %}Article{% elif item.type == VI %}Video{% else %}News{% endif %}</a></li>
                                        <li>Category: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></li>
                                        <li>Views: <span>{{ item.views }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="post-entry">
                                    <p>{{ item.text|safe|truncatewords:'50' }}</p>
                                    <a href="{{ item.get_absolute_url }}" class="readmore">Read more <i class="icon-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                    {% if is_paginated %}
                    {% include 'inc/_pagination.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--  / News list content  -->

{% endblock content %}
