{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}

<!--  News form content  -->
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    {% include 'inc/_breadcrumbs.html' %}
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h4>Fill out all fields in form correctly to add a new article</h4>

                <div id="errormessage"></div>
                <form action="{% url 'add' %}" method="POST" role="form" class="contactForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-block btn-theme btn-medium margintop10">Add post</button>
                </form>
            </div>
            <div class="span4">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!--  News form content  -->

{% endblock content %}